server {
    listen 80;
    server_name %(host_ip)s;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root %(site_folder)s;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:%(site_folder)s/%(project)s.mock;
    }
}